.container-main {
    position: relative;
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: end;
    

    & .img-style {
        filter: brightness(45%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    & .text-in-front {
        position: absolute;
        color: antiquewhite;
        width: 100%;
 
    }
}

.footer-style {
    background: linear-gradient(to right,#1b3745,#1d5271);

    & ul  li  a {
        color: aliceblue;
    }
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Animaciones */
.animations-moves {
    position: fixed;
    z-index: 9999;
    top: -5%;
    animation-name: animation-fall, animation-shake;
    animation-duration: 4s, 2s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    
}

@keyframes animation-fall {
    0% {
        top: 10%;
    }
    100% {
        top: 100%;
    }
}

@keyframes animation-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}

.animations-moves:nth-of-type(1) {
    left: 20%;
    animation-delay: 0s, 0s;
}

.animations-moves:nth-of-type(2) {
    left: 40%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}

.animations-moves:nth-of-type(3) {
    left: 60%;
    animation-delay: 6s, 0.5s;
    -webkit-animation-delay: 6s, 0.5s;
}

.animations-moves:nth-of-type(4) {
    left: 80%;
    animation-delay: 4s, 2s;
    -webkit-animation-delay: 3s, 2s;
}

.animations-moves:nth-of-type(5){
    left: 10%;
    -webkit-animation-delay: 3s, 2s;
    animation-delay: 4s, 2s;
}

.animations-moves:nth-of-type(6){
    left: 50%;
    -webkit-animation-delay: 3s, 2s;
    animation-delay: 4s, 2s;
}

.animations-moves:nth-of-type(7){
    left: 70%;
    -webkit-animation-delay: 3s, 2s;
    animation-delay: 4s, 2s;
}

.animations-moves:nth-of-type(6){
    left: 90%;
    -webkit-animation-delay: 3s, 2s;
    animation-delay: 4s, 2s;
}